@media (min-width: 1200px) and (max-width: 1500px) {
  .section-slideshow-v1 .info-sideh1 .picture-slideshow img {
    height: 600px;
    object-fit: cover;
  }
}

.section-slideshow-v1 .info-sideh1 .box-content-center .box-title1 .title-small {
    font-size: 24px;
    z-index: ;
    display: inline-block;
    background-color: #B13495;
    line-height: 24px;
    padding: 10px 29px;
    margin-bottom: 30px !important;
  }