@media (min-width: 1200px) and (max-width: 1500px) {
  .section-slideshow-v1 .info-sideh1 .picture-slideshow img {
    height: 600px;
    object-fit: cover;
  }
}

.section-slideshow-v1 .info-sideh1 .box-content-center .box-title1 .title-small {
    font-size: 24px;
    z-index: ;
    display: inline-block;
    background-color: #B13495;
    line-height: 24px;
    padding: 10px 29px;
    margin-bottom: 30px !important;
  }


  
.section-slideshow-v1 .info-sideh1 .button-main2 {
    background-color: #b13495;
    color: #fff !important;
    text-transform: uppercase;
    position: relative;
  }
  .section-slideshow-v1 .info-sideh1 .button-main2::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px dotted #b13495;
    left: 8px;
    top: 8px;
    transition: 0.5s all;
  }
  .section-slideshow-v1 .info-sideh1 .button-main2:hover::after {
    left: 0;
    top: 0;
  }