@media (min-width: 1200px) and (max-width: 1500px) {
  .section-slideshow-v1 .info-sideh1 .picture-slideshow img {
    height: 600px;
    object-fit: cover;
  }
  .section-slideshow-v1 .info-sideh1 .picture-slideshow {
    height: 600px;
  }
}

.section-slideshow-v1 .info-sideh1 .box-content-center .box-title1 .title-small {
    font-size: 24px;
    z-index: 9;
    display: inline-block;
    background-color: #B13495;
    line-height: 24px;
    padding: 10px 29px;
    margin-bottom: 30px !important;
  }


  .section-slideshow-v1 .info-sideh1 .box-content-center .box-title2 .title-small {
    font-size: 18px;
  }
  .section-service-v1 {
    background-image: url('https://cdn.shopify.com/s/files/1/0678/7625/8096/files/Rectangle_15.png?v=1681807603');
    background-size: cover;
    background-position: center;
    margin-top: -20px;
  }

  .section-service-v1 .itemtservice .box-service {
    display: flex;
    align-items: center;
  }
  .section-service-v1 .itemtservice .box-service .number img {
    width: 65px;
  }
  .section-service-v1 .itemtservice .box-service .number {
    padding: 0;
    margin-right: 15px;
  }
  .section-service-v1 .itemtservice .box-service .info .title {
    text-align: left;
  }

  
  .cus-section-banner-v11 .banner-item .content,
  .cus-section-banner-v11 .banner-item:hover .content {
  visibility: visible;
  transform: translateY(0%) scale(1);
  }
  

  .cus-section-banner-v11 .banner-item .content::after {
      display: none;
  }

  .cus-section-banner-v11 .banner-item:after {
      display: none;
  }
  .cus-section-banner-v11 .banner-item, 
  .cus-section-banner-v11 .banner-ver {
      height: 100% !important;
  }
  .cus-section-banner-v11 .banner-item .content {
  position: unset;
}

  .cus-section-banner-v11 .banner-item {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row-reverse;
      background-color: #F7EBF4;
      padding: 15px 15px;
  }
  .cus-section-banner-v11 .banner-item.end {
      flex-direction: column;
  }    

.cus-section-banner-v11 .banner-item:hover img {
    transform: scale(1);
    transition: all .8s linear;
}
.cus-section-banner-v11 .banner-item.end img {
    width: 75% !important;
}

.cus-section-banner-v11 .banner-item.end a.box-img {
    text-align: right;
}
.cus-section-banner-v11 .banner-item .content .sub-title {
    font-size: 20px;
}

.section-slideshow-v1 .info-sideh1 .button-main2 {
    background-color: #b13495;
    color: #fff !important;
    text-transform: uppercase;
    position: relative;
  }
  .section-slideshow-v1 .info-sideh1 .button-main2::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px dotted #b13495;
    left: 8px;
    top: 8px;
    transition: 0.5s all;
  }
  .section-slideshow-v1 .info-sideh1 .button-main2:hover::after {
    left: 0;
    top: 0;
  }

  